
.container{
    width: 100%;
    max-width: 145rem;
    margin: 0 auto;
    padding: 0 2.5rem;

    &__fluid{
        max-width: 152.9rem;
    }

    @include new-desktop{
        max-width: 133.4rem;
    }

    @include big-desktop{
        padding: 0 4.1rem;
    }

    @include small-tablet{
        padding: 0 3rem;
    }
}

