<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__item">
                <span class="footer__inner__item__text">ИП броско александр сергеевич</span>
                <a href="mailto:abrosko@abrosko-studio.ru" class="footer__inner__item__text footer__inner__item__text__link">abrosko@abrosko-studio.ru</a>
                <div class="footer__inner__item__wrapper">
                    <img src="./assets/images/header/UnionCenter.svg" alt="logo" class="footer__inner__item__wrapper__logo" width="63" height="63">
                    <a href="88001012396" class="footer__inner__item__wrapper__text footer__inner__item__text">8-800-101-23-96</a>
                </div>
            </div>
            <div class="footer__inner__item">
                <a href="" class="footer__inner__item__politicspage">Политика конфиденциальности</a>
            </div>
            <div class="footer__inner__item">
                <span class="footer__inner__item__text">ИНН 602712561006</span>
                <span class="footer__inner__item__text">ОГРНИП 323600000004580</span>
                <div class="footer__inner__item__social">
                    <a href="" class="footer__inner__item__social__href">
                        <svg class="" width="50" height="50" >
                            <use xlink:href="#Vk"></use>
                        </svg>
                    </a>
                    <a href="" class="footer__inner__item__social__href">
                        <svg class="" width="50" height="50" >
                            <use xlink:href="#Whatsapp"></use>
                        </svg>
                    </a>
                    <a href="" class="footer__inner__item__social__href">
                        <svg class="" width="64" height="64" >
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>


